In [1]:
import glob
import numpy as np
import pandas as pd

In [2]:
pd.set_option('display.max_colwidth', 300)

In [3]:
## Load all the results into one dataframe with the citation and the label
path = '/dlabdata1/harshdee/results/'
all_files = glob.glob(path + "/result_*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [4]:
## Check if the label category has unique === labels
frame['label_category'].unique()

array([3, 1, 2, 0])

In [5]:
## Change labels number to label names
frame['label_category'].replace({0: 'book', 1: 'entertainment', 2: 'journal', 3: 'newspaper'}, inplace=True)

In [19]:
## Check citations with label books
frame[frame['label_category'] == 'book'].sample(5)

,citations,label_category
15597711,{{cite web|url = |title=Some Observations on Bill C-11: The Copyright Modernization Act|first=Barry|last=Sookman|date=2011-10-03|accessdate=2014-05-23}},book
5729399,{{cite web|url = |title=Developer Robinson still pursuing arena development issues|author=ALAN SNEL LAS VEGAS REVIEW-JOURNAL|work =,book
8164782,"{{cite web |url = |work = |title=Orleans County Routes |first=N.W |last=Perry |accessdate=April 1, 2010}}",book
15876317,"{{cite news|title=Alex: leave the ""Internacional"" happy (in Russian:\u0410\u043b\u0435\u043a\u0441: \u043f\u043e\u043a\u0438\u0434\u0430\u044e ""\u0418\u043d\u0442\u0435\u0440\u043d\u0430\u0441\u044c\u043e\u043d\u0430\u043b"" \u0441\u0447\u0430\u0441\u0442\u043b\u0438\u0432\u044b\u043c)|url = |pub...",book
9681243,{{cite web |url = |title=Archived copy |accessdate=2011-11-14 |deadurl = |archiveurl = |archivedate=2011-07-25 |df= }},book

In [17]:
frame[frame['label_category'] == 'entertainment'].sample(5)

,citations,label_category
13082913,{{cite news |title=Trump beats Murphy in Classic |url = |publisher=[[World Professional Billiards and Snooker Association|World Snooker]] |date=1 May 2013 |accessdate=2 May 2013}},entertainment
6417588,{{cite web |url = |title=Craig Ramsay Coaching Record|accessdate=2010-07-01|publisher=Sports Reference LLC|work =,entertainment
9244721,{{Cite news|page=4 |last=Heger |first=Ursula |title=Rail revamp on track but road upgrade needed - Trains to get boost in number |newspaper = |date=17 November 2010 |url = |accessdate=21 December 2010 |archivedate=21 December 2010 |archiveurl = |deadurl = |df= }},entertainment
315886,"{{cite web|url = |title=Shana 6 (Ws Sub)|publisher=[[Amazon.com]]|accessdate=April 3, 2012}}",entertainment
14865470,"{{cite web|last=Timiraos|first=Alex|title=2014\u201315 UCLA Men's Basketball Media Guide|work = |publisher=UCLA Sports Information Office|pages=122\u2013123|year=2014|url = |accessdate=March 18, 2015|ref=201415mg}}",entertainment

In [16]:
frame[frame['label_category'] == 'journal'].sample(5)

,citations,label_category
586213,{{cite news|url = |title=Leontyne Price and A Program of Song|work =,journal
6573824,"{{cite web |url = |title=The Modern Day |publisher=Jesus College, Oxford |date=27 September 2005 |accessdate=9 July 2009 |archiveurl = |archivedate=24 April 2009 |deadurl = |df=dmy }}",journal
51433,"{{cite web|title=FutureSchools@Singapore Programme|url = |publisher=Ministry of Education, Singapore|accessdate=7 May 2013|deadurl = |archiveurl = |archivedate=8 March 2013|df=}}",journal
9918537,{{cite web |url = |title=Ethnic Now - The Global Peace and Unity Event 2006|accessdate=22 November 2006}},journal
5430824,{{cite book|last=Calarco|first=Tom|title=Places of the Underground Railroad: A Geographical Guide|url = |accessdate=24 March 2014|year=2011|publisher=ABC-CLIO|isbn=9780313381461|page=363}},journal

In [15]:
frame[frame['label_category'] == 'newspaper'].sample(5)

,citations,label_category
13719926,"{{cite news |title=CHINA: Soong Sisters|author= |newspaper = |date=December 12, 1927|url = |accessdate=May 22, 2011}}",newspaper
14858552,{{cite web |url = |title=Scottish League One 2013\u201314 |publisher=Soccerbase |accessdate=20 February 2017}},newspaper
1376420,{{cite news|title=Ipswich Town Near Soccer Title|date=24 April 1962|accessdate=5 July 2015|newspaper = |agency=Associated Press|page=36|url =,newspaper
4041145,"{{cite web|url = |title= \'\'Ake v. Oklahoma: The New ""Fundamental Error"" Exception to Wainwright v, Sykes \'\'.|last=Lowe|first=Thayne G.|website = |publisher= Digital Commons |accessdate=2016-12-29}}",newspaper
469497,{{cite web|url = |title=Katorse's Xian Lim recalls childhood bonding with his dad|last1=Godinez|first1=Bong|date=14 June 2009|website =,newspaper

In [11]:
print('Total number of unique citations used as wild examples: {}'.format(frame.shape))

Total number of unique citations used as wild examples: (15933261, 2)

In [13]:
label_count = frame.groupby('label_category').count()
label_count['perc_'] = (label_count['citations'] / frame.shape[0]) * 100

In [14]:
label_count

                citations      perc_
label_category
book               141212   0.886272
entertainment    12633690  79.291301
journal           2080785  13.059379
newspaper         1077574   6.763047