In [1]:
import glob
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
tqdm.pandas()

In [3]:
# import csv

# import sys
# csv.field_size_limit(sys.maxsize)

In [4]:
## Load all the results into one dataframe with the citation and the label
path = '/dlabdata1/harshdee/results/'
all_files = glob.glob(path + "/result_*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [5]:
frame.columns

Index([u'id', u'page_title', u'citations', u'ID_list', u'type_of_citation',
       u'predicted_label_no', u'existing_label'],
      dtype='object')

In [6]:
frame.head()

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label
0,290,A,{{cite encyclopedia | last = Hall-Quest | firs...,NaN,cite encyclopedia,0.0,NO LABEL
1,303,Alabama,{{cite news |title=Airbus confirms its first U...,NaN,cite news,2.0,NO LABEL
2,303,Alabama,{{cite web |url=http://www.laddpeeblesstadium....,NaN,cite web,2.0,NO LABEL
3,303,Alabama,{{cite web |url=http://www.thearda.com/rcms201...,NaN,cite web,0.0,NO LABEL
4,324,Academy Awards,{{cite web |url=http://tvbythenumbers.zap2it.c...,NaN,cite web,2.0,NO LABEL

In [7]:
frame['predicted_label_no'].replace(0.0, 'book', inplace=True)

In [8]:
frame['predicted_label_no'].replace(1.0, 'journal', inplace=True)

In [9]:
frame['predicted_label_no'].replace(2.0, 'web', inplace=True)

In [10]:
frame.head()

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label
0,290,A,{{cite encyclopedia | last = Hall-Quest | firs...,NaN,cite encyclopedia,book,NO LABEL
1,303,Alabama,{{cite news |title=Airbus confirms its first U...,NaN,cite news,web,NO LABEL
2,303,Alabama,{{cite web |url=http://www.laddpeeblesstadium....,NaN,cite web,web,NO LABEL
3,303,Alabama,{{cite web |url=http://www.thearda.com/rcms201...,NaN,cite web,book,NO LABEL
4,324,Academy Awards,{{cite web |url=http://tvbythenumbers.zap2it.c...,NaN,cite web,web,NO LABEL

In [10]:
frame['predicted_label_no'].unique()

array(['book', 'web', 'journal', nan], dtype=object)

In [11]:
frame[frame['existing_label'] != 'NO LABEL'].shape

(3585532, 7)

In [12]:
# newspaper_data = pd.read_parquet(
#     '/dlabdata1/harshdee/newspapers_citations_features.parquet', engine='pyarrow')
# entertainment_features = pd.read_parquet(
#     '/dlabdata1/harshdee/entertainment_citations_features.parquet', engine='pyarrow')

In [14]:
# newspaper_data.shape

In [15]:
frame[frame['existing_label'] != 'NO LABEL']['existing_label'].value_counts()

book       2103492
journal    1482040
Name: existing_label, dtype: int64

In [23]:
# newspaper_data['citations']

0          {{Citation | date = 10 December 2012 | url = h...
1          {{Citation | last =  | first =  | author-link ...
2          {{Citation | last = ''[[The New York Times]]''...
3          {{Citation | last = Schwartz | first = John  |...
4          {{Citation | last = Shearer | first = Caroline...
                                 ...
1945385    {{cite web|work=[[The New York Times]]|title=A...
1945386    {{cite web|work=[[The New York Times]]|title=S...
1945387    {{cite web|work=[[The New York Times]]|url=htt...
1945388    {{cite web|work=[[The New York Times]]|url=htt...
1945389    {{cite web|work=[[The New York Times]]|url=htt...
Name: citations, Length: 1945390, dtype: object

In [24]:
newspaper_data.shape[0] + entertainment_features.shape[0]

3409042

In [16]:
frame['existing_label'].value_counts()

NO LABEL    25446209
book         2103492
journal      1482040
Name: existing_label, dtype: int64

In [17]:
## Check if the label category has unique === labels
## NaN is for labels which were already labeled and part of training dataset
frame['predicted_label_no'].unique()

array(['book', 'web', 'journal', nan], dtype=object)

In [18]:
x = frame[frame['predicted_label_no'].notnull()].shape
y = frame[~frame['predicted_label_no'].notnull()].shape
print(x, y, x[0]+y[0])

((25446209, 7), (3585532, 7), 29031741)

In [19]:
frame['predicted_label_no'].value_counts().sum() ##22393730

25446209

In [20]:
## Change labels number to label names
frame['predicted_label_no'].replace({0: 'book', 1: 'journal', 2: 'web'}, inplace=True)

In [11]:
## Check citations with label books
frame[frame['predicted_label_no'] == 'book'].sample(5)

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label
10708869,53963410,Tigres UANL (women),{{cite web|url=http://www.ligafemenil.mx/canch...,NaN,cite web,book,NO LABEL
7149617,5069309,Tonpa Shenrab Miwoche,{{cite journal|last1=Hummel|first1=Sigbert|aut...,NaN,cite journal,book,NO LABEL
12432107,42810854,List of Azerbaijan football transfers summer 2014,{{cite web|title=Ruslan Ab\u0131\u015fov \xabQ...,NaN,cite web,book,NO LABEL
7509922,50928035,Enakku Vaaitha Adimaigal,{{cite web|url=http://www.behindwoods.com/tami...,NaN,cite web,book,NO LABEL
7449307,10958769,Mail and plate armour,{{cite web |last1=Pak |first1=John |title='Sea...,NaN,cite web,book,NO LABEL

In [12]:
frame[frame['predicted_label_no'] == 'journal'].sample(5)

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label
22732323,41532657,List of UEFA Champions League hat-tricks,{{cite news |url=http://www.uefa.com/uefachamp...,NaN,cite news,journal,NO LABEL
13855604,24538047,Vilarinho da Furna,{{citation |first=Ant\xf3nio Jorge |last=Dias ...,NaN,citation,journal,NO LABEL
17055678,31131855,List of Olympic venues in football,{{citation|title=Rio de Janeiro 2016 Candidate...,NaN,citation,journal,NO LABEL
28142681,63359886,Operation SNOWGOOSE,{{Cite journal|last=Andrew Burtch|date=2015-03...,{ISSN=1195-8472},cite journal,journal,NO LABEL
17604135,7361828,Australian one-cent coin,{{cite web |url=http://www.ramint.gov.au/media...,NaN,cite web,journal,NO LABEL

In [13]:
frame[frame['predicted_label_no'] == 'web'].sample(5)

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label
16486874,38923178,CJK Unified Ideographs (Unicode block),{{Citation|title=Draft text of ANNEX: Rules of...,NaN,citation,web,NO LABEL
10247399,39483484,Michelle Nunn,{{cite news | url=http://nl.newsbank.com/nl-se...,NaN,cite news,web,NO LABEL
4038019,59227875,William Segerdahl,{{Cite web|url=https://open.spotify.com/artist...,NaN,cite web,web,NO LABEL
9554448,57338725,Timeline of BBC Radio 5 Live,{{cite web|url=https://genome.ch.bbc.co.uk/sch...,NaN,cite web,web,NO LABEL
24463509,33771445,Money transmitter,{{cite web|url=https://www.msbassociation.org/...,NaN,cite web,web,NO LABEL

In [37]:
frame[frame['predicted_label_no'] == 'journal'].iloc[1327]['citations']

'{{cite journal |last1=Ibrahim |first1=Bassem |date=12 December 2016 |title=Right Ventricular Failure |url=https://www.escardio.org/Journals/E-Journal-of-Cardiology-Practice/Volume-14/Right-ventricular-failure |journal=e-Journal of Cardiology Practice |volume=14 |issue=32 |pages= |doi= |access-date=23 March 2019 }}'

In [24]:
frame.shape

(29031741, 7)

In [25]:
label_count = frame.groupby('predicted_label_no').count()
# label_count['perc_'] = (label_count['citations'] / frame.shape[0]) * 100
label_count['perc_'] = (label_count['citations'] / frame[frame['predicted_label_no'].notnull()].shape[0]) * 100

In [26]:
label_count['id'].sum()

25446209

In [27]:
label_count

,id,page_title,citations,ID_list,type_of_citation,existing_label,perc_
predicted_label_no,,,,,,,
book,3243364,3243360,3243364,95537,3243364,3243364,12.745961
journal,947233,947232,947233,99460,947233,947233,3.722492
web,21255612,21255609,21255612,115260,21255612,21255612,83.531547

In [30]:
frame['isbn_present'] = False

In [44]:
frame['isbn_present'] = frame['ID_list'].progress_apply(lambda x: 'ISBN' in str(x))

100%|██████████| 29031741/29031741 [00:42<00:00, 677487.10it/s]

In [50]:
# mask = (frame['isbn_present'] == True) & (frame['predicted_label_no'] == 'journal')
mask = (frame['doi_present'] == True) & (frame['existing_label'] == 'NO LABEL')

frame[mask]

,id,page_title,citations,ID_list,type_of_citation,predicted_label_no,existing_label,doi_present,isbn_present
831134,52288103,Di Rosa,{{cite book|title=The true artist is an amazin...,{ASIN=B0006YUDOI},cite book,web,NO LABEL,True,False

In [ ]:
frame['isbn_present'] = False

In [ ]:
frame['isbn_present'] = frame['ID_list'].progress_apply(lambda x: 'ISBN' in str(x))

In [ ]:
frame[(frame['predicted_label_no'] == 'web') & (frame[]) & ()]

In [24]:
## Get the journals for labels
frame[frame['predicted_label_no'] == 'journal'].to_csv('/scratch/harshdee/wild_examples_journal.csv', index=False)

In [25]:
## Get the books for labels
frame[frame['predicted_label_no'] == 'book'].to_csv('/scratch/harshdee/wild_examples_book.csv', index=False)